{% load static %}
{% block cta %}
 <!-- Start cta section -->
 <section class="py-5 bg-primary">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9">
                <div class="text-white-50">
                    <h3 class="text-white">Build your dream website today</h3>
                    <p class="mb-0 fs-6">If several languages coalesce, the grammar of the resulting</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="mt-4 mt-md-0 text-md-end">
                    <a href="#" class="btn btn-info">Get Started</a>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- End cta section -->

{% endblock cta %}