{% load static %}
{% block about %}
 <!-- Start About -->
 <section class="section" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="text-center mb-5">
                    <h3 class="mb-3">Empowering Students to Learn Smarter with NoteShare</h3>
                    <p class="text-muted">
                        NoteShare is revolutionizing the way students access study materials. Our platform simplifies the process of buying and selling materials using a unique point system. With an AI-powered search engine, finding relevant study resources has never been easier. Say goodbye to complex transactions and hello to seamless learning with NoteShare.
                    </p>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="text-center p-4">
                    <div class="icons-xl mb-3">
                        <i class="uim uim-ruler"></i>
                    </div>

                    <h5>Study Materials</h5>
                    <p class="text-muted">At NoteShare, find an array of study materials covering various subjects. Whether it's notes, guides, or practice exams, discover what you need to succeed.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="text-center p-4">
                    <div class="icons-xl mb-3">
                        <i class="uim uim-repeat"></i>
                    </div>

                    <h5>Point System</h5>
                    <p class="text-muted">Utilize our innovative point system to buy and sell study materials hassle-free. Earn points by contributing materials or redeem them to access the resources you need.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="text-center p-4">
                    <div class="icons-xl mb-3">
                        <i class="uim uim-airplay"></i>
                    </div>

                    <h5>AI-Powered Search</h5>
                    <p class="text-muted">With our AI-powered search engine, discover relevant study materials tailored to your needs. Spend less time searching and more time learning with NoteShare.</p>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end About -->
{% endblock about %}