{% load static %}
{% block about %}
 <!-- Start About -->
 <section class="section" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="text-center mb-5">
                    <h3 class="mb-3">A digital web design studio creating modern & engaging online</h3>
                    <p class="text-muted">
                        If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages new common will be more regular than the existing If several is more
                        simple and regular than that of the individual languages new common will be more regular than the existing
                    </p>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="text-center p-4">
                    <div class="icons-xl mb-3">
                        <i class="uim uim-ruler"></i>
                    </div>

                    <h5>Web Designing</h5>
                    <p class="text-muted">If several languages coalesce, the grammar of the resulting language is more regular than that of the individual</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="text-center p-4">
                    <div class="icons-xl mb-3">
                        <i class="uim uim-repeat"></i>
                    </div>

                    <h5>Programming</h5>
                    <p class="text-muted">To achieve this, it would be necessary to have uniform more common several languages coalesce</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="text-center p-4">
                    <div class="icons-xl mb-3">
                        <i class="uim uim-airplay"></i>
                    </div>

                    <h5>Software Development</h5>
                    <p class="text-muted">For science, music, sport, etc, Europe uses the same vocabulary only differ in their pronunciation.</p>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end About -->
{% endblock about %}