{% load static %}
{% block clients %}
    <!-- Start Clients -->
    <section class="section mt-5" id="clients">
        <div class="container">
            <div class="row pb-5 align-items-center">
                <div class="col-lg-4 col-md-4">
                    <div class="icons-lg mb-4">
                        <i class="uim uim-comment-message"></i>
                    </div>
                    <h3 class="mb-2">2,200<sup>+</sup></h3>
                    <h3 class="mb-4">Satisfied Clients</h3>
                    <p class="text-muted mb-sm-0 mb-5 pb-sm-0 pb-4">If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual</p>
                </div>

                <div class="col-lg-8 col-md-8">
                    <div class="client-slider">
                        <div>
                            <div class="bg-light rounded p-4">
                                <p class="text-muted mb-4">" It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified, If several languages of the resulting language"</p>
                                <div class="pt-3">
                                    <div class="d-inline-block">
                                        <h5 class="font-16 mb-1">James Vazquez</h5>
                                        <span class="text-muted">- Peyso User</span>
                                    </div>
                                    <div class="text-muted d-inline-block float-end">
                                        <i class="mdi mdi-star text-warning"></i>
                                        <i class="mdi mdi-star text-warning"></i>
                                        <i class="mdi mdi-star text-warning"></i>
                                        <i class="mdi mdi-star text-warning"></i>
                                        <i class="mdi mdi-star text-warning"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="bg-light rounded p-4">
                                <p class="text-muted mb-4">" To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words. If several languages of the resulting language."</p>

                                <div class="pt-3">
                                    <div class="d-inline-block">
                                        <h5 class="font-16 mb-1">Clara Searcy</h5>
                                        <span class="text-muted">- Peyso User</span>
                                    </div>
                                    <div class="text-muted d-inline-block float-end">
                                        <i class="mdi mdi-star text-warning"></i>
                                        <i class="mdi mdi-star text-warning"></i>
                                        <i class="mdi mdi-star text-warning"></i>
                                        <i class="mdi mdi-star text-warning"></i>
                                        <i class="mdi mdi-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="bg-light rounded p-4">
                                <p class="text-muted mb-4">
                                    " If several It will be as simple as Occidental; it will be Occidental. To an English person, it will seem like simplified, If several languages of the resulting language "
                                </p>
                                <div class="pt-3">
                                    <div class="d-inline-block">
                                        <h5 class="font-16 mb-1">Alfredo Williams</h5>
                                        <span class="text-muted">- Peyso User</span>
                                    </div>
                                    <div class="text-muted d-inline-block float-end">
                                        <i class="mdi mdi-star text-warning"></i>
                                        <i class="mdi mdi-star text-warning"></i>
                                        <i class="mdi mdi-star text-warning"></i>
                                        <i class="mdi mdi-star text-warning"></i>
                                        <i class="mdi mdi-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <!-- start brand logo -->
            <div class="row mt-5">
                <div class="col-lg-3 col-sm-3">
                    <div class="client-images">
                        <img src="{% static 'images/clients/1.png' %}" alt="client-img" class="mx-auto img-fluid d-block" />
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <div class="client-images">
                        <img src="{% static 'images/clients/3.png' %}" alt="client-img" class="mx-auto img-fluid d-block" />
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <div class="client-images">
                        <img src="{% static 'images/clients/4.png' %}" alt="client-img" class="mx-auto img-fluid d-block" />
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <div class="client-images">
                        <img src="{% static 'images/clients/6.png' %}" alt="client-img" class="mx-auto img-fluid d-block" />
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- End Clients -->
{% endblock clients %}