{% extends 'dashboard/layouts/base.html' %}
{% load static %}
{% block extrastyle %}
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        
        .chat__item__container {
            background-color: #f5f5f5;
            padding: 10px;
            border-radius: 10px;
            {#height: 300px;#}
            max-height: 555px;
            /* Set a maximum height for the chat container */
            overflow-y: auto;
            /* Add a vertical scrollbar when needed */
        }

        .chat-input-container {
            display: flex;
            align-items: center;
        }

        #id_message_send_input {
            flex: 1;
            /* Take up available space */
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        #id_message_send_button {
            padding: 5px 10px;
            background-color: #007e9b;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            margin-left: 10px;
        }

        .chat-message {
            background-color: #e4f9f5;
            border-radius: 10px;
            margin: 10px 0;
            padding: 10px;
            position: relative;
        }

        .chat-message.right {
            background-color: #808080;
            width: 80%;
            float: right;
            clear: both;
            margin-left: auto;
            margin-right: 0;
        }

        .chat-message.left {
            background-color: #007e9b;
            width: 80%;
            float: left;
            clear: both;
            margin-left: 0;
            margin-right: auto;
        }

        .chat-message span {
            font-weight: bold;
            color: white;
        }

        .message-timestamp {
            font-size: 10px;
            position: absolute;
            top: 5px;
            right: 5px;
        }

        .message-username {
            font-size: 12px;
            position: absolute;
            bottom: 5px;
            right: 5px;
        }
    </style>
{% endblock extrastyle %}


{% block content %}
    <div class="container-fluid py-4 px-5">
        <div class="row">
            <div class="col-12">
                <div class="card border shadow-xs mb-4">
                    <div class="card-header border-bottom pb-0">
                        <div class="d-sm-flex align-items-center">
                            <div>
                                <h6 class="mb-0" style="float: left;font-weight: bold; color: #009483;">
                                    {{ request.user|title }}
                                </h6>
                                <br>
                                <p class="text-sm">See information about your documents</p>
                            </div>
                        </div>
                        <div class="card-body px-0 py-0">
                            <div class="chat__item__container" id="id_chat_item_container">
                                <!-- Messages will be displayed here with a scrollbar -->
                            </div>
                            <div class="chat-input-container">
                                <input type="text" id="id_message_send_input" placeholder="Type your message..."/>
                                <button type="submit" id="id_message_send_button"><i class="fas fa-paper-plane"></i>
                                    Send
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extrascripts %}

    <script>
        const userId = {{ user_id }};  // Get the user ID from the context
        {#const chatSocket = new WebSocket("ws://" + window.location.host + "/");#}
        const chatSocket = new WebSocket("ws://" + window.location.host + '/ws/chat/' + userId + '/');
        chatSocket.onopen = function (e) {
            console.log("The connection was set up successfully!");
        };
        chatSocket.onclose = function (e) {
            console.log("Something unexpected happened!");
        };
        document.querySelector("#id_message_send_input").focus();
        document.querySelector("#id_message_send_input").onkeyup = function (e) {
            if (e.keyCode == 13) {
                document.querySelector("#id_message_send_button").click();
            }
        };
        document.querySelector("#id_message_send_button").onclick = function (e) {
            // Get the message input value and trim whitespace
            var messageInput = document.querySelector("#id_message_send_input").value.trim();

            // Check if the message input is empty
            if (messageInput === "") {
                return; // Prevent sending empty messages
            }

            // Get the current time for the message timestamp
            var currentTime = new Date();
            var time = currentTime.toLocaleTimeString();

            // Send the message through the WebSocket
            chatSocket.send(JSON.stringify({
                message: messageInput,
                username: "{{request.user.username}}",
                time: time
            }));

            // Clear the input field after sending the message
            document.querySelector("#id_message_send_input").value = "";
        };
        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            var messageContainer = document.querySelector("#id_chat_item_container");
            var div = document.createElement("div");
            div.className = (data.username === "{{request.user.username}}") ? "chat-message right" : "chat-message left";
            div.innerHTML = `<div class="message-content">
                <span class="message-username">${data.username.charAt(0).toUpperCase() + data.username.slice(1)}</span>
                <span class="message-text">${data.message}</span>
                <span class="message-timestamp">${data.time}</span>
            </div>`;
            document.querySelector("#id_message_send_input").value = "";
            messageContainer.appendChild(div);
            // Scroll to the bottom of the chat container
            messageContainer.scrollTop = messageContainer.scrollHeight;
        };
    </script>
{% endblock extrascripts %}
